@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body{
    margin: 0;
    font-family: 'Inter', sans-serif;

}

.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #f2f8a2;
    display: flex;
    justify-content:center;
    align-items: center;
}

.left-login{
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content:right;
    align-items: center;
    flex-direction: column;

}

.left-login > h1{
    color:#5406ae;

}

.left-login-image{
width: 35vw;
display: flex;
left: -100px;
justify-content: left;

}
.right-login{
    width: 30vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    left: -70px;
}

.card-login{
    width: 70%;
    height: 40%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding: 40px 35px;
    background-color: rgb(250, 249, 194);
    border-radius: 20px;
    box-shadow: 0px 10px 20px #5e5858;
    left:0;
}

.card-login >h1{
    color: #5406ae;
    font-weight: 900;
    margin:0;
}

.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 10px 10px 0;
}

.textfield > input{
    width: 100%;
    border:none;
    border-radius: 25px;
    background-color:azure;
    color: black;
    font-size: 20pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #000000ce;
    margin-bottom:10px ;
}

.textfield > input::placeholder{
    color:#0000002b;
    font-size: 15px;
    border-radius: 25spx;
}

.btn-login{
    width: 50%;
    height: 26%;
    padding: 10px 3px;
    margin: 10px auto;
    border:none;
    border-radius:8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
    color:#2b134b;
    background-color:#5406ae;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px;
}