{% load static %}
<html>


<body>

    <head>
        <meta charset="UTF-8" />
        <title>Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" type="text/css" href="{% static 'styles/style_dashboard.css'%}">
      </head>
      <header> 
        <div class="bem-vindo">
        <a href="{% url 'index' %}"><button class="button_voltar" >Voltar</button></a>
        <a href="{% url 'logout' %}"> <button class="button_logout">Logout</button> </a>
    </div> 
          
          
      </header>
        <div class="container" >
          <a class="links" id="paracadastro"></a>
          <a class="links" id="paralogin"></a>
          
           
     <!--  </div>
    {% if user.is_authenticated %}
        <h1>Bem-vindo, {{ user.username }}!</h1>
    {% else %}
        {% url login %}
    {% endif %} -->

        <h1>Faça sua Reserva de Laboratório</h1>
        <form method="post">
            {% csrf_token %}
            {% for lab in lab_active %}
            <table>
                <thead>
                    <tr>
                        <th>Num Laboratório</th>
                        <th>Nome Laboratório</th>
                        <th>Agendamento Laboratório</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>{{ lab.number_laboratory }}</td>
                            <td>{{ lab.name_laboratory }}</td>
                            <td><button><a href="{% url 'laboratorio:list_lab' lab.pk %}">Agendar</a></button></td>
                            
                        </tr>
                </tbody>
            </table><br><br>
            {% endfor %}
        </form>
</body>
</html>
