<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>atualizar usuario</title>
</head>
<body>
    <a href="{% url 'logout' %}">Sair</a><br><br>

    <a href="{% url 'dashboard' username=user %}">Perfil</a>

    <h2>Atualizar Cadastro</h2>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.username }}<br><br>
        {{ form.first_name }}<br><br>
        {{ form.last_name }}<br><br>
        {{ form.email }}<br><br>
        <label>Status</label>
        {{ form.is_active }}<br><br>
        {{ form.user}}<br><br>
        {{ form.cpf_cnpj }}<br><br>
        {{ form.phone }}<br><br>
        <button type="submit">Salvar Alterações</button>
    </form>
</body>
</html>